<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/verification.css">
        <title>Verification code</title>
    </head>

    <body>
        <form class="form" method="post">
            <span class="close">X</span>

            <div class="info">
                <span class="title">Two-Factor Verification</span>
                <p class="description">Enter the two-factor authentication code
                    provided by the authenticator app </p>
            </div>
            <div class="input-fields">
                <input placeholder type="tel" maxlength="6" name="code">
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for  message in messages %}
                    <p style="font-size: 14px; color:rgb(230, 25, 25);">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="action-btns">
                <button class="submit">Verify</button>
                <a class="clear" href="#">Clear</a>
            </div>

        </form>
    </body>

</html>